<IfModule mod_rewrite.c>
    # Enable rewrite engine
    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Allow access to the storage folder for public files
    RewriteCond %{REQUEST_URI} ^/storage/.*$
    RewriteRule ^ - [L]

</IfModule>

# Allow direct access to image and document files in the storage folder
<FilesMatch "\.(jpg|jpeg|png|gif|svg|webp|pdf|doc|docx|xls|xlsx|csv|mp4|mp3|zip)$">
    Require all granted
</FilesMatch>

# Disable directory listing
Options -Indexes
